@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --border-radius: 5px;
  --color-main-accent: #2C3E50;
  --color-alt-accent: #34495E;
  --color-main-bg: #ECF0F1;
}

body {
  background-color: var(--color-main-bg);
}

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  margin: auto;
  width: 90%;
  height: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: var(--color-main-accent);
  color: white;
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
  margin: 0 10px 0 0;
  gap: 10px;
}

nav ul svg {
  fill: white;
  height: 50px;
  width: 100%;
}

nav ul h1 {
  margin: auto;
  padding: 0;
  height: 50px;
  line-height: 50px;
  display: none;
}

nav ul li a {
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.profile-actions {
  padding: 0;
  display: flex;
  flex-direction: row; 
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.profile-actions li{
  list-style: none;
  padding: 0;
  display: inline-block;
}

.profile-actions li a, .profile-actions li button {
  padding: 0px 15px;
  height: 50px;
  display: block;
  background-color: var(--color-main-accent);
  color: white;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  border-radius: var(--border-radius);
  border: none;
  border-style: none;
}

.profile-actions li a:hover, .profile-actions li button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--color-alt-accent);

}

fieldset {
  padding: 0px; 
  margin: 0px;
}

form fieldset label {display: none;}
fieldset {
  border: none;
}
form fieldset input {
  background-color: var(--color-main-bg);
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
  border: 3px solid var(--color-main-accent);
  box-sizing: border-box;
  height: 50px;
  width: 70%;
  font-weight: bold;
  padding-left: 10px;
  font-size: 16px;
}

form fieldset input:focus {
  border-radius: var(--border-radius) 0px 0px var(--border-radius);
}

form fieldset button {
  border-radius: 0px var(--border-radius) var(--border-radius) 0px;
  height: 50px;
  width: 30%;
  display: inline-block;
  color: white;
  background-color: var(--color-alt-accent);
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

form fieldset button:hover {
  text-decoration: underline;
}

#translation-output  {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

#translation-output img {
  width: 100px;
  height: 100px;
}

#translation-history ul {
  padding-left: 20px;
}

#translation-history ul li {
  font-weight: 700;
}

@media only screen and (min-width: 800px){

  .App{
    max-width: 800px;
  }

  nav {
    margin: auto;
    width: 90%;
    height: 100%;
    max-width: 800px;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
  }

  nav ul h1 {
    display: block;
  }

  .profile-actions {
    justify-content: flex-start;
  }
}